@model Models.Tickets.TicketViewModel

@{
    ViewData["Title"] = "CreateTicket";
}

<h1>CreateTicket</h1>

<h4>TicketViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTicket" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Title"></label>
                <input asp-for="Input.Title" class="form-control" />
                <span asp-validation-for="Input.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Description"></label>
                <input asp-for="Input.Description" class="form-control" />
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Type"></label>
                <select asp-for="Input.Type" asp-items="Model.TicketTypes" class="form-control"></select>
                <span asp-validation-for="Input.Type" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <label asp-for="Input.Attachments"></label>
                    <div class="custom-file">
                        <input multiple asp-for="Input.Attachments" type="file" class="form-control custom-file-input" />
                        <label class="custom-file-label">Kies een bestand...</label>
                    </div>
                    <span asp-validation-for="Input.Attachments" class="text-danger"></span>
                </div>
            </div>

            @if (User.IsInRole("SupportManager"))
            {
                <div class="form-group">
                    <label asp-for="Input.ClientUsername"></label>
                    <input asp-for="Input.ClientUsername" class="form-control" />
                    <span asp-validation-for="Input.ClientUsername" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Maak aan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileLabel = $(this).next('.custom-file-label');
            var files = $(this)[0].files;
            if (files.length > 1) {
                fileLabel.html(files.length + ' bestanden geselecteerd');
            } else if (files.length == 1) {
                fileLabel.html(files[0].name);
            }
        });
    });
</script>

}
