/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* CUSTOM CSS */
.title-subtitle-link {
    color: #212529;
}

.title-subtitle-link:hover {
    text-decoration: none;
}

    .title-subtitle-link span {
        color: #0366d6;
        font-size: 1rem;
    }

.pagingCurrent {
    color: #6c757d;
    background-color: #e9ecef;
    pointer-events: none;
}


/* ACTEMIUM STYLE */
body {
    font-family: 'Source Sans Pro',sans-serif;
}

h1 {
    color: #12498d;
}

h2 {
    color: #004289;
}

.navbar {
    /*padding: .5rem 1rem;*/
    padding: 0;
}

.navbar-nav a, .navbar-nav button, .navbar-nav span {
    padding-top: 20px;
    padding-bottom: 5px;
    line-height: 50px;
}

.navbar-nav a, .navbar-nav button {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #004289 !important;
}

.navbar-nav button {
    padding-bottom: 0;
    border: 0;
}

    .navbar-nav a:hover, .navbar-nav button:hover {
        padding-bottom: 0;
        border-bottom: 5px solid #004289;
    }

footer {
    background-color: #004289;
    color: #fff;
}

.btn-primary {
    background-color: #12498d;
    border-color: #004289;
}

.btn-secondary {
    background-color: #c6d200;
    border-color: #a8b200;
}
