@{
    ViewData["Title"] = "Rapporten";
}

<h1>Rapporten</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <p><a asp-controller="Report" asp-action="OpenTickets">Verloop openstaande tickets</a></p>
            <p><a asp-controller="Report" asp-action="TicketsSolveTime">Oplossingstijd tickets</a></p>
            <p><a asp-controller="Report" asp-action="Contracts">Contracten verloop</a></p>
        </div>
    </div>
</div>