@{
    ViewData["Title"] = "Rapporten";
}

<h1>Rapporten</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <p><a asp-controller="Report" asp-action="OpenTickets">Verloop openstaande tickets</a></p>
            <p><a asp-controller="Report" asp-action="OpenTickets">Rapport 2</a></p>
            <p><a asp-controller="Report" asp-action="OpenTickets">Rapport 3</a></p>
        </div>
    </div>
</div>