@model TicketingSystem.RazorWebsite.Models.Reports.ReportViewModel
@{
    ViewData["Title"] = "Rapporten";
}

<h1>Rapporten</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Verloop aantal openstaande tickets</h2>
            <div id="chart_OpenTickets" class="chart"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12"><p><a asp-action="Index">Terug naar overzicht rapporten</a></p></div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Datum');
        data.addColumn('number', 'Aantal open tickets');

        data.addRows([
            @Model.ChartData
        ]);


        var options = {
            title: 'Verloop aantal openstaande tickets',
            pointSize: 5,
            hAxis: {
                format: 'dd/MM/yyyy',
                gridlines: { count: 15 }
            },
            vAxis: {
                gridlines: { color: 'none' },
                minValue: 0
            }
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_OpenTickets'));

        chart.draw(data, options);
    }

    // Resize chart when resizing window
    $(window).resize(function () {
        drawChart();
    });
  
</script>
